apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "static-web.fullname" . }}
  labels:
    {{- include "static-web.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "static-web.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "static-web.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: html-volume
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: html-volume
          configMap:
            name: {{ include "static-web.fullname" . }}-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "static-web.fullname" . }}-config
data:
  index.html: |
{{ .Values.htmlContent | indent 4 }}
